* {
  box-sizing: border-box; /* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
}

@media only all and (min-width: 0) {
  html {
    font-size: 14.00%;
  }
}
@media only all and (min-width: 320px) {
  html {
    font-size: 20.00%;
  }
}
@media only all and (min-width: 480px) {
  html {
    font-size: 24.91%;
  }
}
@media only all and (min-width: 768px) {
  html {
    font-size: 41.06%;
  }
}
@media only all and (min-width: 1024px) {
  html {
    font-size: 53.74%;
  }
}
@media only all and (min-width: 1200px) {
  html {
    font-size: 62.50%; /* 1rem corresponds to 10px; cf. http://snook.ca/archives/html_and_css/font-size-with-rem */
  }
}
@media only all and (min-width: 1600px) {
  html {
    font-size: 83.03%;
  }
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


body {
  font-size: 1.6rem;
}

.l-navigation-container {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem;
  background: black;
  height: 4.5rem;
}

.m-navigation {
  list-style-type: none;
  padding: 0;
  color: #eee;
  width: 100rem;
  margin: 0 auto;
}

.m-navigation--item {
  float: left;
  margin-right: 2rem;
}

.m-navigation--title {
  font-size: 2rem;
  margin: 0;
}

.m-navigation--hit-me {
  background: #234892;
  border-radius: 10px;
  border: 1px solid #234892;
}

.m-columns-wrapper {
  width: 100rem;
}

.m-column-wrapper {
  float: left;
  width: 100px;
  margin-right: 30px;
  min-height: 1px;
  border-top: 1px solid black;
}

.m-column {
  list-style: none;
  padding: 0;
}

.m-card {
  background: #ddd;
  line-height: 1rem;
  margin: 2px 0;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* disable text selection on cards */
}

.m-card .black {
  color: black;
}

.m-card .red {
  color: red;
}

.m-card.open {
  background-color: #fafafa;
}
