* {
  box-sizing: border-box; /* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
}

.m-column-wrapper {
  float: left;
  width: 100px;
  margin-right: 30px;
  min-height: 1px;
  border-top: 1px solid black;
}

.m-column {
  list-style: none;
  padding: 0;
}

.m-card {
  background: #ddd;
  line-height: 1rem;
  margin: 2px 0;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* disable text selection on cards */
}

.m-card .black {
  color: black;
}

.m-card .red {
  color: red;
}

.m-card.open {
  background-color: #fafafa;
}
